* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  scroll-snap-align: start;
}

h1 {
  color: white;
  font-size: 130px;
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
}

.one {
  background-color: antiquewhite;
}
.two {
  background-color: rgb(255, 203, 136);
}
.three {
  background-color: rgb(172, 150, 123);
}
.four {
  background-color: rgb(255, 170, 59);
}
.five {
  background-color: rgb(83, 52, 12);
}
